<!DOCTYPE html>
<html lang="en">
<head>
    <title>ExpressJS Bitcoin Change</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/public/css/style.css" type="text/css" media="screen">
</head>
<body>

<form action="" method="post" id="change-form">
    <div>
        <select name="currency" id="currency">
            <option value="">Currency</option>
            <option value="USD">USD</option>
            <option value="EUR">EUR</option>
        </select>
    </div>
    <div>
        <input type="submit" value="Get Bitcoin value">
    </div>
    <div id="response"></div>
</form>    


<script src="/public/js/jquery.min.js"></script>
<script src="/public/js/index.js"></script>   
</body>
</html>    